
body {
    background-color: rgb(167, 242, 199);
}

.videoplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {    
    text-align: center;
}

.play {
    width: 50px;
}

.pause {
    width: 50px;
}

.duration {
    
    width: 450px;
}